node_modules
dist
build
coverage
.next
.vercel
.semgrep
.env
.env.local
.env.production.local
.env.development.local
*.log
*.lock
package-lock.json
yarn.lock
**/.venv/**
**/venv/**
**/__pycache__/**
*.pyc
*.yml
*.yaml
.husky/
scripts/*.sh